mixin cube(empty)
	.cube
		if empty
			.inner
				- var sides = 6
				while sides--
					.side


mixin index()
	- var layers = [[0,1,1,0,1,1,0,0,1,1,0,1,1,0],[1,1,1,1,1,1,1,1,1,1,1,1,1,1],[1,1,1,1,1,1,1,1,1,1,1,1,1,1],[0,1,1,1,1,1,0,0,1,1,1,1,1,0],[0,0,1,1,1,0,0,0,0,1,1,1,0,0],[0,0,0,1,0,0,0,0,0,0,1,0,0,0]]

	.list
		.view
			each layer in layers
				.layer
					.axis
						each cube in layer
							+cube(cube)
